{% set active_page = "Conference Format" %}
{% set page_title = "Conference Format" %}
{% extends "base.html" %}
{% block content %}

<!-- Title -->
<div class="pp-card m-3" style="">
  <div class="card-header">
    <h2 class="card-title main-title text-center" style="">
      Conference Format
    </h2>
  </div>

  <div id="zoom" style="padding-top: 60px"></div>
  <div class="card-body">
    <h3 class="text-center">Zoom Meetings</h3>
    <div class="card-text">
      <p>All of the Zoom meetings for the conference are password-protected to prevent abuse. Each registered participant will receive (by email) a password that will give access to the Zoom meetings.</p>
    </div>
  </div>

  <div id="session" style="padding-top: 60px"></div>
  <div class="card-body">
    <h3 class="text-center">Session Format</h3>
    <div class="card-text">
      <p>Each session is divided into a <strong>plenary session</strong> and a <strong>poster session</strong>.</p>

      <p>In the <strong>plenary session</strong>, each presenting author will give a short (1 minute) presentation of their work, followed by a short (2-3 minutes) question and answer period. The presentation order is prescribed in the individual session's page (see below).</p>

      <p>After the plenary session (45-60 minutes total), the remaining time will be devoted to the <strong>poster session</strong>. Each author will have their own Zoom room dedicated to discussing their work, and participants can drop in to each room to ask questions.</p>

      <ul>
        <li><a href="{{zoom.plenary[0]}}" target="_blank">[Zoom link for plenary]</a></li>
        <li>To find the <strong>Zoom links for the poster sessions</strong>, as well as the <strong>presentation order for the plenary session</strong>, please refer to each individual session's page:
          <a href="papers.html?session=Session+1A">1A</a> &middot;
          <a href="papers.html?session=Session+1B">1B</a> &middot;
          <a href="papers.html?session=Session+1C">1C</a> &middot;
          <a href="papers.html?session=Session+1D">1D</a> &middot;
          <a href="papers.html?session=Session+1E">1E</a> &middot;
          <a href="papers.html?session=Session+2A">2A</a> &middot;
          <a href="papers.html?session=Session+2B">2B</a> &middot;
          <a href="papers.html?session=Session+2C">2C</a> &middot;
          <a href="papers.html?session=Session+2D">2D</a> &middot;
          <a href="papers.html?session=Session+2E">2E</a> &middot;
          <a href="papers.html?session=Session+3A">3A</a> &middot;
          <a href="papers.html?session=Session+3B">3B</a> &middot;
          <a href="papers.html?session=Session+3C">3C</a> &middot;
          <a href="papers.html?session=Session+3D">3D</a> &middot;
          <a href="papers.html?session=Session+3E">3E</a> &middot;
          <a href="papers.html?session=Session+4A">4A</a> &middot;
          <a href="papers.html?session=Session+4B">4B</a> &middot;
          <a href="papers.html?session=Session+4C">4C</a> &middot;
          <a href="papers.html?session=Session+4D">4D</a> &middot;
          <a href="papers.html?session=Session+4E">4E</a> &middot;
          <a href="papers.html?session=Session+OP">OP</a>
        </li>
      </ul>

      <p>(Note that the Open Problems session (<a href="papers.html?session=Session+OP">OP</a>) does not have an accompanying poster session.)</p>

    </div>
  </div>

  <div id="business" style="padding-top: 60px"></div>
  <div class="card-body">
    <h3 class="text-center">Business Meeting</h3>
    <div class="card-text">
      <p>Please join us Sunday 6:00 PM Paris time for the COLT Business Meeting to learn about and discuss this year's and future years' conference organization.</p>
      <ul><li><a href="{{zoom.plenary[0]}}" target="_blank">[Zoom link for plenary]</a></li></ul>
    </div>
  </div>

  <div id="coffee" style="padding-top: 60px"></div>
  <div class="card-body">
    <h3 class="text-center">Coffee Break<span id="break-id">s</span></h3> 
    <div class="card-text">
      <p>Please join us between sessions for virtual coffee breaks (or happy hours?), by entering any of these Zoom rooms:</p>
      <ul>
        {% for url in zoom.coffees %}
        <li>{% if loop.last %}Student break room{% else %}Break room {{loop.index}}{% endif %}: <a href="{{url}}" target="_blank">[Zoom link]</a><span id="host-{{loop.index}}"></span></li>
        {% endfor %}
      </ul>      
    </div>
    <div id="baidu" style="visibility: hidden;">
      <br>
      <h5>Sponsor Virtual Booth</h5> 
      <p>In this coffee break, please drop by our sponsor Baidu's virtual booth <a href="{{zoom.sponsor[0]}}" target="_blank">[Zoom link]</a></p>
    </div>
    <script src="static/js/little_helpers.js"></script>
    <script src="static/js/coffee_hosts.js"></script>
    <script>
    $(document).ready(function () {
      start();
    });
    </script>
  </div>
  

  <div id="czars" style="padding-top: 60px"></div>
  <div class="card-body">
    <h3 class="text-center">Help!</h3>
    <div class="card-text">
      <p>Do you need technical help with the conference? Please contact us (by email) and we'll get back to you as soon as possible.</p>

      <p>Zoom Czars for issues related to Zoom:</p>
      <ul>
        <li>Keynotes: <a href="https://www.cc.gatech.edu/~jabernethy9/">Jacob Abernethy</a>, <a href="https://www.shivani-agarwal.net/Contact/contact.html">Shivani Agarwal</a></li>
        <li>Sessions 1A, 2A, 3A, 4A: <a href="https://safestatistics.com/contact/">Peter Grunwald</a></li>
        <li>Sessions 1B: <a href="https://www.cs.columbia.edu/~djhsu/">Daniel Hsu</a></li>
        <li>Sessions 2B, 3B, 4B: <a href="https://www.satyenkale.com/">Satyen Kale</a>, <a href="https://www.cs.columbia.edu/~djhsu/">Daniel Hsu</a></li>
        <li>Sessions 1C, 2C, 3C, 4C: <a href="http://vtaly.net/">Vitaly Feldman</a>, <a href="http://www.cs.columbia.edu/~ccanonne/">Clement Canonne</a></li>
        <li>Sessions 1D: <a href="http://www.cs.columbia.edu/~ccanonne/">Clement Canonne</a>, <a href="http://vtaly.net/">Vitaly Feldman</a></li>
        <li>Sessions 2D, 4D: <a href="https://sites.google.com/view/koheihatano/home#h.p_gWDJfMzqcv7m">Kohei Hatano</a></li>
        <li>Sessions 3D: <a href="https://hyoka.ofc.kyushu-u.ac.jp/search/details/K003271/english.html">Eiji Takimoto</a></li>
        <li>Sessions 3D: <a href="https://hyoka.ofc.kyushu-u.ac.jp/search/details/K003271/english.html">Eiji Takimoto</a></li>
        <li>Sessions 1E, 2E, 3E, 4E: <a href="http://wouterkoolen.info/">Wouter Koolen</a></li>
      </ul>

      <p>Issues related to the website:</p>
      <ul>
        <li><a href="https://bguedj.github.io/">Benjamin Guedj</a>, <a href="https://www.cs.columbia.edu/~djhsu/">Daniel Hsu</a>, <a href="https://www.satyenkale.com/">Satyen Kale</a></li>
      </ul>
    </div>
  </div>


</div>

<div style="padding-top:256px;"></div>
{% endblock %}
