{% set active_page = "Papers" %}
{% set page_title = "Papers" %}

{% extends "base.html" %}
{% block head %}
{{ super() }}
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.4.0/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/tippy.js@6/dist/tippy-bundle.umd.min.js"></script>

<script src="static/js/icons.js"></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
{% endblock %}

{% block tabs %}
<!-- <ul class="nav nav-pills justify-content-center">
  <li class="nav-item active">
    <a
      class="nav-link text-muted active"
      data-toggle="tab"
      href="#tab-browse"
      role="tab"
      aria-controls="nav-home"
      aria-selected="true"
      >Browse
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-muted" href="paper_vis.html">Visualization</a>
  </li>
</ul> -->

{% endblock %}

{% block content %}
<div class="row p-3"></div>

<!-- Session -->
<div class="row d-none session_notice">
  <div
    class="alert alert-warning alert-dismissible fade show col-12"
    role="alert"
  >
    Showing papers for
    <span id="session_name" style="font-weight: bold;"></span>.
    <span id="zoom_name" style="font-weight: bold;"><a href="{{zoom.plenary[0]}}">[Zoom link for plenary]</a></span>
    <button
      type="button"
      class="close remove_session"
      data-dismiss="alert"
      aria-label="Close"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</div>

<!-- Buttons -->
<div class="row">
  <div class="col-12 col-sm-6 col-md-6 col-lg-4">
    <div class="input-group mb-3">
      <input
        type="text"
        class="form-control typeahead_all"
        placeholder="Search"
        style="width: 223px;"
      />
      <!--
      <div class="input-group-append">
        <!-- <button
          class="btn btn-outline-secondary typeahead_all_clear"
          type="button"
        >
          &times;
        </button> 
      </div> 
      -->
      <div class="btn-group btn-group-toggle filter_option">
        <label
          class="btn btn-outline-secondary"
          data-tippy-content="Search for authors/areas/title"
        >
          <input
            type="radio"
            name="options"
            value="all"
            autocomplete="off"
            checked
          />
          all
        </label>
        <label
          class="btn btn-outline-secondary"
          data-tippy-content="Search for papers titles"
        >
          <input
            type="radio"
            name="options"
            value="titles"
            autocomplete="off"
            checked
          />
          title
        </label>
        <label
          class="btn btn-outline-secondary"
          data-tippy-content="Search for papers with specific subject area"
        >
          <input
            type="radio"
            name="options"
            value="keywords"
            autocomplete="off"
          />
          area
        </label>
        <label
          class="btn btn-outline-secondary active"
          data-tippy-content="Search for papers from specific authors"
        >
          <input type="radio" name="options" value="authors" autocomplete="off" />
          author
        </label>
      </div>
    </div>
  </div>
  <div class="col-12 col-sm-6 col-md-6 col-lg-2 text-center">
    <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown">Sessions
      <span class="caret"></span></button>
      <ul class="dropdown-menu" style="padding-left: 10px; max-height:200px; overflow:auto;">
        <li><a href="papers.html?session=Session+1A">1A</a></li>
        <li><a href="papers.html?session=Session+1B">1B</a></li>
        <li><a href="papers.html?session=Session+1C">1C</a></li>
        <li><a href="papers.html?session=Session+1D">1D</a></li>
        <li><a href="papers.html?session=Session+1E">1E</a></li>
        <li><a href="papers.html?session=Session+2A">2A</a></li>
        <li><a href="papers.html?session=Session+2B">2B</a></li>
        <li><a href="papers.html?session=Session+2C">2C</a></li>
        <li><a href="papers.html?session=Session+2D">2D</a></li>
        <li><a href="papers.html?session=Session+2E">2E</a></li>
        <li><a href="papers.html?session=Session+3A">3A</a></li>
        <li><a href="papers.html?session=Session+3B">3B</a></li>
        <li><a href="papers.html?session=Session+3C">3C</a></li>
        <li><a href="papers.html?session=Session+3D">3D</a></li>
        <li><a href="papers.html?session=Session+3E">3E</a></li>
        <li><a href="papers.html?session=Session+4A">4A</a></li>
        <li><a href="papers.html?session=Session+4B">4B</a></li>
        <li><a href="papers.html?session=Session+4C">4C</a></li>
        <li><a href="papers.html?session=Session+4D">4D</a></li>
        <li><a href="papers.html?session=Session+4E">4E</a></li>
        <li><a href="papers.html?session=Session+OP">OP</a></li>
      </ul> 
  </div>
  <div class="col-12 col-sm-6 col-md-6 col-lg-2 text-center">
    <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown">Areas
      <span class="caret"></span></button>
      <ul class="dropdown-menu" style="padding-left: 10px; max-height:200px; overflow: auto; width: 340px;">
        <li><a href="papers.html?filter=keywords&search=Active+learning">Active learning</a></li>
        <li><a href="papers.html?filter=keywords&search=Adaptive+data+analysis">Adaptive data analysis</a></li>
        <li><a href="papers.html?filter=keywords&search=Adversarial+learning+and+robustness">Adversarial learning and robustness</a></li>
        <li><a href="papers.html?filter=keywords&search=Approximation+algorithms">Approximation algorithms</a></li>
        <li><a href="papers.html?filter=keywords&search=Bandit+problems">Bandit problems</a></li>
        <li><a href="papers.html?filter=keywords&search=Bayesian+methods">Bayesian methods</a></li>
        <li><a href="papers.html?filter=keywords&search=causal+inference">Causal inference</a></li>
        <li><a href="papers.html?filter=keywords&search=Classification">Classification</a></li>
        <li><a href="papers.html?filter=keywords&search=Clustering">Clustering</a></li>
        <li><a href="papers.html?filter=keywords&search=Combinatorial+optimization">Combinatorial optimization</a></li>
        <li><a href="papers.html?filter=keywords&search=Computational+complexity">Computational complexity</a></li>
        <li><a href="papers.html?filter=keywords&search=Concentration+inequalities">Concentration inequalities</a></li>
        <li><a href="papers.html?filter=keywords&search=Convex+optimization">Convex optimization</a></li>
        <li><a href="papers.html?filter=keywords&search=Decision+Trees">Decision Trees</a></li>
        <li><a href="papers.html?filter=keywords&search=Distribution+learning/testing">Distribution learning/testing</a></li>
        <li><a href="papers.html?filter=keywords&search=Economics,+game+theory,+and+incentives">Economics, game theory, & incentives</a></li>
        <li><a href="papers.html?filter=keywords&search=Excess+risk+bounds+and+generalization+error+bounds">Excess risk and gen. error bounds</a></li>
        <li><a href="papers.html?filter=keywords&search=Halfspace+Learning">Halfspace Learning</a></li>
        <li><a href="papers.html?filter=keywords&search=High-dimensional+statistics">High-dimensional statistics</a></li>
        <li><a href="papers.html?filter=keywords&search=Information+theory">Information theory</a></li>
        <li><a href="papers.html?filter=keywords&search=Interactive+learning">Interactive learning</a></li>
        <li><a href="papers.html?filter=keywords&search=Kernel+methods">Kernel methods</a></li>
        <li><a href="papers.html?filter=keywords&search=Learning+from+complex/structured+data+(e.g.+networks,+time+series)">Learning from complex/structured data</a></li>
        <li><a href="papers.html?filter=keywords&search=Learning+with+algebraic+or+combinatorial+structure">Learning with alg. or comb. structure</a></li>
        <li><a href="papers.html?filter=keywords&search=Loss+functions">Loss functions</a></li>
        <li><a href="papers.html?filter=keywords&search=Matrix/tensor+estimation">Matrix/tensor estimation</a></li>
        <li><a href="papers.html?filter=keywords&search=Neural+networks/deep+learning">Neural networks/deep learning</a></li>
        <li><a href="papers.html?filter=keywords&search=Neuroscience">Neuroscience</a></li>
        <li><a href="papers.html?filter=keywords&search=Non-convex+optimization">Non-convex optimization</a></li>
        <li><a href="papers.html?filter=keywords&search=Online+learning">Online learning</a></li>
        <li><a href="papers.html?filter=keywords&search=PAC+learning">PAC learning</a></li>
        <li><a href="papers.html?filter=keywords&search=Partial+monitoring">Partial monitoring</a></li>
        <li><a href="papers.html?filter=keywords&search=Planning+and+control">Planning and control</a></li>
        <li><a href="papers.html?filter=keywords&search=Privacy,+fairness">Privacy, fairness</a></li>
        <li><a href="papers.html?filter=keywords&search=Probabilistic+graphical+models">Probabilistic graphical models</a></li>
        <li><a href="papers.html?filter=keywords&search=Randomized+linear+algebraic+methods+and+sketching">Randomized linear algebraic methods</a></li>
        <li><a href="papers.html?filter=keywords&search=Ranking+and+preference+learning">Ranking and preference learning</a></li>
        <li><a href="papers.html?filter=keywords&search=Regression">Regression</a></li>
        <li><a href="papers.html?filter=keywords&search=Reinforcement+learning">Reinforcement learning</a></li>
        <li><a href="papers.html?filter=keywords&search=Sampling+algorithms">Sampling algorithms</a></li>
        <li><a href="papers.html?filter=keywords&search=Statistical+physics">Statistical physics</a></li>
        <li><a href="papers.html?filter=keywords&search=Stochastic+optimization">Stochastic optimization</a></li>
        <li><a href="papers.html?filter=keywords&search=Supervised+learning">Supervised learning</a></li>
        <li><a href="papers.html?filter=keywords&search=Unsupervised+and+semi-supervised+learning">Unsupervised and semi-supervised learning</a></li>
      </ul>
  </div>
  <div class="col-12 col-sm-6 col-md-6 col-lg-2 text-center">
    <button id="shuffle" class="btn btn-outline-secondary reshuffle">shuffle</button>
  </div>
  <div class="col-12 col-sm-6 col-md-6 col-lg-2 text-center">
    <!-- <div class="float-right"> -->
      <div
        class="btn-group btn-group-toggle render_option"
        data-toggle="buttons"
      >
        <!-- <label class="btn btn-outline-secondary active">
          <input type="radio" name="options" value="list" autocomplete="off" />
          list
        </label> -->
        <label class="btn btn-outline-secondary active">
          <input
            type="radio"
            name="options"
            value="compact"
            autocomplete="off"
            checked
          />
          compact
        </label>
        <label class="btn btn-outline-secondary">
          <input
            type="radio"
            name="options"
            value="detail"
            autocomplete="off"
          />
          detail
        </label>
      </div>
    <!-- </div> -->
  </div>
</div>

<!-- Cards -->
<div class="cards row"></div>
<script src="static/js/little_helpers.js"></script>
<script src="static/js/lazy_load.js"></script>
<script src="static/js/persistor.js"></script>
<script src="static/js/papers.js"></script>
<script>
  $(document).ready(function () {
    tippy("[data-tippy-content]", { trigger: "mouseenter focus" });
    start();
  });
</script>

{% endblock %}

{% block footer %}

<div
  class="gdpr bg-dark text-light"
  style="padding: 10pt; position: fixed; bottom: 0; display: none;"
>
  We use cookies to store which papers have been visited.
  <div class="gdpr-btn btn btn-sm btn-info" style="margin-left: 15pt;">
    I agree
  </div>
</div>
<script src="static/js/gdpr_cookies.js"></script>

{% endblock %}
