{% set active_page = "Schedule" %}
{% set page_title = "Schedule" %}
{% extends "base.html" %}
{% block head %}
{{ super() }}
{% include 'cal_head.html' %}
{% endblock %}

{% block content %}

<div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
  <!-- Calender tab -->
  <div
    class="tab-pane active"
    id="tab-calendar"
    role="tabpanel"
    aria-labelledby="nav-profile-tab"
  >
    <div class="form-group col">
      <label for="tzOptions">Timezone:</label>
      <select id="tzOptions" class="selectpicker" data-live-search="true">
      </select>
    </div>
    <div class="col">
      <span style="font-weight: bold;"><p>It may be necessary to scroll inside the calendar frame to see each day's full 24 hour schedule.</p><p>The first session is Thursday 2:30 PM Paris time. Opening Remarks are given Thursday 5 PM Paris time, prior to the first keynote.</p><p>Click on a session to open a page showing the constituent papers.</p></span>
    </div>

    <!-- full cal for browser-->
    <div id="calendar" class="d-none d-sm-block"></div>

    <!-- small cal for smart phones-->
    <div id="calendar_small" class="d-sm-none"></div>

    <script type="text/javascript">
      make_cal("serve_main_calendar.json");
      var interval = setInterval(function() {
        if ($(".tui-full-calendar-vlayout-area.tui-view-5.tui-full-calendar-vlayout-container").length > 0 && $(".tui-view-7").length > 0) {
           $(".tui-full-calendar-vlayout-area.tui-view-5.tui-full-calendar-vlayout-container").css("height", "1400px");
           $(".tui-view-7").css("height", "1400px");
           clearInterval(interval);
        }
      }, 500);
    </script>

    <p><a href="https://data.iana.org/time-zones/tzdb/etcetera">Confused about GMT+XX timezones?</a></p>
  </div>


</div>
{% endblock %}
