{% set active_page = "Subject Areas" %}
{% set page_title = "Subject Areas" %}
{% extends "base.html" %}
{% block content %}
<ul>
<li><a href="papers.html?filter=area&search=Active+learning">Active learning</a></li>
<li><a href="papers.html?filter=area&search=Adaptive+data+analysis">Adaptive data analysis</a></li>
<li><a href="papers.html?filter=area&search=Adversarial+learning+and+robustness">Adversarial learning and robustness</a></li>
<li><a href="papers.html?filter=area&search=Approximation+algorithms">Approximation algorithms</a></li>
<li><a href="papers.html?filter=area&search=Bandit+problems">Bandit problems</a></li>
<li><a href="papers.html?filter=area&search=Bayesian+methods">Bayesian methods</a></li>
<li><a href="papers.html?filter=area&search=causal+inference">causal inference</a></li>
<li><a href="papers.html?filter=area&search=Classification">Classification</a></li>
<li><a href="papers.html?filter=area&search=Clustering">Clustering</a></li>
<li><a href="papers.html?filter=area&search=Combinatorial+optimization">Combinatorial optimization</a></li>
<li><a href="papers.html?filter=area&search=Computational+complexity">Computational complexity</a></li>
<li><a href="papers.html?filter=area&search=Concentration+inequalities">Concentration inequalities</a></li>
<li><a href="papers.html?filter=area&search=Convex+optimization">Convex optimization</a></li>
<li><a href="papers.html?filter=area&search=Decision+Trees">Decision Trees</a></li>
<li><a href="papers.html?filter=area&search=Distribution+learning/testing">Distribution learning/testing</a></li>
<li><a href="papers.html?filter=area&search=Economics,+game+theory,+and+incentives">Economics, game theory, and incentives</a></li>
<li><a href="papers.html?filter=area&search=Excess+risk+bounds+and+generalization+error+bounds">Excess risk bounds and generalization error bounds</a></li>
<li><a href="papers.html?filter=area&search=Halfspace+Learning">Halfspace Learning</a></li>
<li><a href="papers.html?filter=area&search=High-dimensional+statistics">High-dimensional statistics</a></li>
<li><a href="papers.html?filter=area&search=Information+theory">Information theory</a></li>
<li><a href="papers.html?filter=area&search=Interactive+learning">Interactive learning</a></li>
<li><a href="papers.html?filter=area&search=Kernel+methods">Kernel methods</a></li>
<li><a href="papers.html?filter=area&search=Learning+from+complex/structured+data+(e.g.+networks,+time+series)">Learning from complex/structured data (e.g. networks, time series)</a></li>
<li><a href="papers.html?filter=area&search=Learning+with+algebraic+or+combinatorial+structure">Learning with algebraic or combinatorial structure</a></li>
<li><a href="papers.html?filter=area&search=Loss+functions">Loss functions</a></li>
<li><a href="papers.html?filter=area&search=Matrix/tensor+estimation">Matrix/tensor estimation</a></li>
<li><a href="papers.html?filter=area&search=Neural+networks/deep+learning">Neural networks/deep learning</a></li>
<li><a href="papers.html?filter=area&search=Neuroscience">Neuroscience</a></li>
<li><a href="papers.html?filter=area&search=Non-convex+optimization">Non-convex optimization</a></li>
<li><a href="papers.html?filter=area&search=Online+learning">Online learning</a></li>
<li><a href="papers.html?filter=area&search=PAC+learning">PAC learning</a></li>
<li><a href="papers.html?filter=area&search=Partial+monitoring">Partial monitoring</a></li>
<li><a href="papers.html?filter=area&search=Planning+and+control">Planning and control</a></li>
<li><a href="papers.html?filter=area&search=Privacy,+fairness">Privacy, fairness</a></li>
<li><a href="papers.html?filter=area&search=Probabilistic+graphical+models">Probabilistic graphical models</a></li>
<li><a href="papers.html?filter=area&search=Randomized+linear+algebraic+methods+and+sketching">Randomized linear algebraic methods and sketching</a></li>
<li><a href="papers.html?filter=area&search=Ranking+and+preference+learning">Ranking and preference learning</a></li>
<li><a href="papers.html?filter=area&search=Regression">Regression</a></li>
<li><a href="papers.html?filter=area&search=Reinforcement+learning">Reinforcement learning</a></li>
<li><a href="papers.html?filter=area&search=Sampling+algorithms">Sampling algorithms</a></li>
<li><a href="papers.html?filter=area&search=Statistical+physics">Statistical physics</a></li>
<li><a href="papers.html?filter=area&search=Stochastic+optimization">Stochastic optimization</a></li>
<li><a href="papers.html?filter=area&search=Supervised+learning">Supervised learning</a></li>
<li><a href="papers.html?filter=area&search=Unsupervised+and+semi-supervised+learning">Unsupervised and semi-supervised learning</a></li>
{% endblock %}
